html, body {
  background: #eee;
  color: #4a4a4a;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'
}

.search-box {
  padding: 10px 10px 10px 40px;
  background: #fff;
  border-bottom: 1px solid #999;
  position: relative;
}

.search-box:focus {
  outline: none;
}

.search-box-icon {
  height: 20px;
  width: 21px;
  background-image: url('./../images/magnifying-glass.jpg');
  background-size: 20px 21px;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
  top: 15px;

}

.search-box input {
  width: 100%;
  display: block;
  font-size: 24px;
  border: none;
}
 
#cart-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

#cart-wrapper-body {
  height: 650px;
  background: #fff;
}

#cart-wrapper-body:after {
  content: '';
  clear: both;
  display: block;
}

#map-panel {
  float: left;
  width: 60%;
  height: 100%;
  z-index: 1;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

#product-list-panel {
  float: left;
  width: 40%;
  height: 100%;
  border-left: 1px solid #999;
  margin-left: -1px;
  z-index: 2;
  position: relative;
  overflow-y: hidden;
}

#product-list-panel .inner {
  overflow-y: scroll;
  height: 615px;
}

.product-list-item.header-row {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  background: #fff;
  border-bottom: 2px solid #4a4a4a; 
}

.product-list-item {
  padding: 10px 0;
  border-bottom: 1px dotted #aaa;
}

.product-list-item:last-of-type {
  border-bottom: none;
}

.product-list-item:after {
  content: '';
  clear: both;
  display: block;
}

.add-to-cart-button {
  line-height: 20px;
  font-size: 20px;
  float: left;
  margin: -10px 0;
  position: relative;
  top: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: none;
}

.add-to-cart-button:before {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #999;
  border-radius: 50%;
  content: ' ';
  z-index: -1;
  display: block;
}

.product-list-item-name {
  font-weight: 700;
  width: 55%;
  padding-left: 5%;
  float: left;
}

.product-list-item-price {
  width: 15%;
  float: left;
}

.product-list-item-km {
  width: 15%;
  float: left;
}

#status-bar {
  width: 100%;
  height: 51px;
  background: #fff;
  border-top: 1px solid #999;
}

#status-bar:after {
  content: '';
  clear: both;
  display: block;
}

#status-bar div {
  display: inline-block;
  padding: 17px 10px;
}

.button {
  display: inline-block;
  font-size: 20px;
  padding: 5px 12px;
  color: #fff;
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
  background: #A169FF;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.status-bar-title {
  font-weight: 700;  
}

.gray-overlay {
  z-index: 9999;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(240,240,240,0.9);
}

.zip-search-is-active#zip-search-overlay {
  display: block;
}

.cart-view-is-active#cart-view-overlay {
  display: block;
}

#zip-search-overlay .button {
  position: absolute;
  left: 100%;
  top: 50%; 
  transform: translate(4px, -50%);
  font-size: 32px;
  padding: 5px 16px;
}

.transform-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); 
}

.padded-container {
  width: 90%;
  padding: 30px 5%;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
  font-size: 60px;
  line-height: 60px;
  font-weight: 100;
}